<section class="container py-5 form">

  <div class="row justify-content-center pt-4 pb-5">
    <div class="text-center ">
      <h1 class="h2">Add a new member</h1>
      <hr class="mt-4 divider">
    </div>
  </div>

  <div class="row py-4">
    <form class="col" action="">

      <div class="row align-items-center pb-4">
        <div class="col-2 offset-1 icon-plus">
          <div class="icon">
            <label for="icon"><i class="fa-regular fa-user fa-2xl"></i></label>
            <input class="input" type="file" id="icon" name="icon" accept="image/*">
          </div>
          <label for="icon"><span class="plus"><i class="fa-solid fa-plus"></i></span></label>
        </div>

        <div class="col-8">
          <input class="form-control" type="text" id="name" name="name" placeholder="Type the member's display name here">
        </div>
      </div>

      <div class="row justify-content-center py-4">
        <button type="submit" class="btn btn-purple">Add</button>
      </div>

    </form>
  </div>
</section>
