.divider {
  width: 8rem;
  box-sizing: border-box;
  margin: auto;
}

.form {
  background-color: var(--secondary-color);
}

.card-photo-container {
  position: relative;
  width: fit-content;
}

.image-display {
  height: 10rem;
  width: 10rem;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0.5rem 1rem 0 var(--shadow-color);
  cursor: pointer;
}

.label-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  padding: .35rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 75%;
  z-index: 2;
  cursor: pointer;
}

.card i {
  color: var(--secondary-color);
}

.box-shadow-card {
  box-shadow: 0 0.5rem 1rem 0 var(--shadow-color);
}

.img-container {
  height: 10rem;
  width: 10rem;
  z-index: 1;
  border-radius: 50%;
  background-color: var(--secondary-color);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0.5rem 1rem 0 var(--shadow-color);
}

.card-placeholder {
  background-image: url('../../../../assets/images/image-placeholder.png');
  cursor: pointer;
}

.buttons {
  gap: 1rem;
}
