<section class="container py-5 form">
  <div class="row justify-content-center pt-4 pb-5">
    <div class="text-center">
      <h1 class="h2">Add a new member</h1>
      <hr class="mt-4 divider" />
    </div>
  </div>
  <div class="row py-4">
    <div class="col-sm-12 col-lg-10 offset-lg-1">
      <form action="">
        <div class="row align-items-center pb-4">
          <div class="col-sm-12 col-md-4 pb-3">

            <div class="card-photo-container" title="Upload the new member's photo">
              <label for="input-image">

              <div class="image-display"
              *ngIf="file; else placeholder"
              [ngClass]="{'box-shadow-card': !!file}"
              [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
              </div></label>

              <ng-template #placeholder>
                <label for="input-image"><div class="img-container card-placeholder"></div>
                </label>
              </ng-template>

              <label class="label-image" for="input-image">
                <div class="card">
                  <input
                    class="d-none"
                    type="file"
                    id="input-image"
                    name="input-image"
                    accept="image/*"
                    (change)="onFileChange($event)"
                  />
                  <i class="fa-solid fa-plus fa-lg"></i>
                </div>
              </label>
            </div>

          </div>

          <div class="col-sm-12 col-md-8">
            <input
              class="form-control text-center"
              type="text"
              id="name"
              name="name"
              placeholder="Type the member's display name here"
              [(ngModel)]="member.name"
            />
          </div>
        </div>

        <!-- <div class="row">
          <label
            class="col-form-label col-sm-12 col-md-4 col-xl-3 fw-semibold text-center text-md-end"
            for="cardColor"
            >Choose the card's color</label
          >
          <div class="col-auto d-flex justify-content-center">
            <input
              type="color"
              class="form-control form-control-color"
              id="cardColor"
              value="#563d7c"
              title="Choose your color"
            />
          </div>
        </div> -->

        <div class="row py-5">
          <div class="col-sm-12 d-flex justify-content-center buttons">
            <button (click)="addMember()" type="submit" class="btn btn-purple">Add</button>
            <button (click)="cancel()" type="reset" class="btn btn-purple">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
